<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="udesign.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <applicationSettings>
        <udesign.Properties.Settings>
            <setting name="TempFolderName" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="LogFilename" serializeAs="String">
                <value>ui_designer.log</value>
            </setting>
            <setting name="BuildTestScene" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>udesign</value>
            </setting>
            <setting name="LuaBootstrap" serializeAs="String">
                <value>scripts/bootstrap.lua</value>
            </setting>
            <setting name="UserPrefFile" serializeAs="String">
                <value>user_pref.json</value>
            </setting>
        </udesign.Properties.Settings>
    </applicationSettings>
</configuration>
