*.suo
*.user
/src/ui_designer_shell/bin
/src/ui_designer_shell/obj
/src/packages_local/GwenCS-2014-07-29/Gwen/bin
/src/packages_local/GwenCS-2014-07-29/Gwen/obj
/src/packages_local/GwenCS-2014-07-29/Gwen.Renderer.OpenTK/bin
/src/packages_local/GwenCS-2014-07-29/Gwen.Renderer.OpenTK/obj
/src/packages_local/GwenCS-2014-07-29/Gwen.Renderer.SFML/bin
/src/packages_local/GwenCS-2014-07-29/Gwen.Renderer.SFML/obj
/src/packages_local/GwenCS-2014-07-29/Gwen.Renderer.Tao/bin
/src/packages_local/GwenCS-2014-07-29/Gwen.Renderer.Tao/obj
/src/packages_local/GwenCS-2014-07-29/Gwen.Sample.OpenTK/bin
/src/packages_local/GwenCS-2014-07-29/Gwen.Sample.OpenTK/obj
/src/packages_local/GwenCS-2014-07-29/Gwen.Sample.SFML/bin
/src/packages_local/GwenCS-2014-07-29/Gwen.Sample.SFML/obj
/src/packages_local/GwenCS-2014-07-29/Gwen.Sample.Tao/bin
/src/packages_local/GwenCS-2014-07-29/Gwen.Sample.Tao/obj
/src/packages_local/GwenCS-2014-07-29/Gwen.UnitTest/bin
/src/packages_local/GwenCS-2014-07-29/Gwen.UnitTest/obj
/src/packages

/src/ui_lib/bin
/src/ui_lib/obj
/src/ui_designer/bin
/src/ui_designer/obj
/bin
